html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.mapbox {
    height: 100%;
    width: 100%;
    margin: 0;
}

.opening-page {
    height: 100%;
    width: 100%;
    background-image: url('background.gif');
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
    margin-top: 1vh;
  }

  .figure-text {
    text-align: center;
    font-weight: bold;
}


#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#right-menu {
    border-radius: 20px;
    position:absolute;
    top:5vh;
    right:1vw;
    z-index: 100;
    width: 33vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: auto;
    font-family: 'Maven Pro', sans-serif;
}

.center-div {
    margin: 0 auto;
    max-width: 50%;
    color: white;
    font-size: calc(1em + 1vw)
}

.google-font {
    font-family: 'Julius Sans One', sans-serif;
}

#left-menu {
    position:absolute;
    top:15vh;
    width: 4vh;
    z-index: 100;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 2vh 2vh 0;
    font-family: 'Righteous', cursive;
}

#left-menu-sub{
  position:absolute;
  z-index: 100;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2vh 2vh 2vh 2vh;
  font-family: 'Righteous', cursive;
  width: 4vh;
  padding-bottom: 1vh;
}

p {
    text-align: justify;
}

.dot {
    height: 3vh;
    width: 3vh;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    color: white;
    margin-top: 1vh;
    font-size: 1.5vh;
    line-height: 3vh;
}

.dot-sub {
    height: 3vh;
    width: 3vh;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    color: white;
    margin-top: 1vh;
    font-size: 1.5vh;
    line-height: 3vh;
}


.left-menu-name {
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
  margin-top: 6vh;
  font-size: 1.5vh;
}

.legend {
    line-height: 18px;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    width: 8vw;
}
.legend i {
    width: 18px;
    height: 18px;
    margin-left: 0.5vw;
    float: left;
    margin-right: 1vw;
    border: 1px solid black;
}

.case-6-1-button{
  width: 15vw;
  cursor: pointer;
  border-radius: 2vh 2vh 2vh 2vh;
}
/*.case-6-1-button:hover {background-color: #00b300;}*/

.case-6-1-button:focus { outline-style: none; }

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 1vh;
  cursor: pointer;
}

.subchapter-img {
    float: right; 
    margin: 2% 0 2% 2%;
    border-radius: 10px;
    width: 40%;
}
